.stock {
  background-color: #F3F7F9;
  border-radius: 12px;
  padding: 2px 4px;
}

.background-black {
  background-color: black;
}

.checkout-title-dark_mode {
  color: white;
}

.checkout-section-dark_mode {
  color: white;
}

.checkout-label-dark_mode {
  color: #abaab9;
}

.checkout-input-dark_mode {
  border: 0;
  color: white;
  background-color: #282A2D;
}

.checkout-input-dark_mode::placeholder {
  color: #757575;
}

.checkout-cart-productName-dark_mode {
  color: white;
}

.checkout-cart-productPrice-dark_mode {
  color: #abaab9 !important;
}

.checkout-cart-total-dark_mode {
  color: white;
}

.checkout-cart-dark_mode {
  background-color: #282A2D !important;
}

.spacer {
  height: 80px;
}

.help-block {
  color: red;
}

.position-absolute {
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-background {
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 120vh;
  width: 100%;
}

.mb-0 fa-icon {
  color: rgb(0, 136, 20);
}

.mb-5 {
  min-width: 315px;
}

.fix-button-modal {
  width: 100%;
}

.cart-empty-spacer {
  height: 20px;
}

.cart-empty-spacer-big {
  height: 200px;
}

.background-gray {
  background-color: #F3F7F9;
  min-height: 92.4vh;
}

.fix-cart-empty-margin {
  margin-top: 0!important;
}
