<div class="background-gray">


  <div class="cart-container">
      <div class="cart-card" *ngFor="let product of userCart">
        <a [routerLink]= "'/products/' + product.slug">

          <div class="cart-card-info cart-product-image">
            <img [src]="'/assets/images/' + product?.photo" [alt]="product.slug">
          </div>
        </a>
    <div class="cart-card-info cart-product-name">
      <p>{{product.name}}</p>
    </div>
    <div class="cart-card-info cart-edit-stock">
      <button (click)="decreaseStock(product.slug)">-</button>
      <input type="text" [(ngModel)]="product.stock">
      <button (click)="increaseStock(product.slug)">+</button>
    </div>

    <div class="cart-card-info cart-product-price">
      <p><b>{{'$' + product.price}}</b></p>
    </div>

    <div class="cart-card-info cart-product-delete">
      <button (click)="onDeleteFromCart(product.slug)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>

  </div>
</div>

</div>
