<div class="background-gray">


  <div class="cart-container">
      <div class="cart-card" *ngFor="let product of userCart">
        <div class="cart-card-info">
          <div class="cart-card-info cart-product-image">
              <a [routerLink]= "'/products/' + product.slug">
              <img [src]="'/assets/images/' + product?.photo" [alt]="product.slug">
            </a>
            </div>
        </div>
    <div class="cart-card-info cart-product-name">
      <p>{{product.name}}</p>
    </div>
    <div class="cart-card-info cart-edit-stock">
      <button (click)="decreaseStock(product.slug)">-</button>
      <input type="text" [(ngModel)]="product.stock">
      <button (click)="increaseStock(product.slug)">+</button>
    </div>

    <div class="cart-card-info cart-product-price">
      <p><b>{{'$' + product.price}}</b></p>
    </div>

    <div class="cart-card-info cart-product-delete">
      <button (click)="onDeleteFromCart(product.slug)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>

  </div>

  <div class="cart-actions" *ngIf="userCart.length > 0">
    <button class="btn btn-outline-dark mt-auto b-white" (click)="clearCart()">Clear cart</button>
    <a class="btn btn-outline-dark mt-auto b-white" routerLink="/checkout" >Go to payment</a>
  </div>
</div>

<div class="empty-cart" *ngIf="userCart.length == 0">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Cart is empty :(</h1>
    <div class="cart-empty-spacer"></div>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/products">Start shopping</button>
      </div>
    </div>
  </div>
</div>


</div>
