.header-link {
  color: white;
}

.text-end fa-icon {
  margin-left: 20px;
  font-size: 20px;
}

.nav-align-vertical {
  display: flex;
  align-items: center;
}

.header-dark_mode {
  background-color: black !important;
  border-bottom: 1px solid rgb(37, 37, 37);
}

.background-dark {
  background-color: #202529;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.footer-dark_mode {
  border-top: 1px solid rgb(37, 37, 37);
}

.background-dark_mode {
  background-color: black !important;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.static-width {
  min-width: 20px;
}

.empty-link {
  width: 30px;
}


@media only screen and (max-width: 600px) {
  .mobile-nav-ul {
    margin-bottom: 0 !important;
    width: auto !important;
  }

  footer {
    flex-direction: column;
    justify-content: center;
  }
}
