<header class="p-3 bg-dark text-white">

  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mobile-nav-ul">
        <li><a routerLink="/" routerLinkActive="text-secondary" [routerLinkActiveOptions]="{exact:true}" class="nav-link px-2 header-link">Home</a></li>
          <li><a routerLink="/products" routerLinkActive="text-secondary" class="nav-link px-2 header-link">Prodotti</a></li>
        </ul>

        <div class="text-end">
          <div class="nav-align-vertical">
          <a routerLink="/cart" routerLinkActive="text-secondary" class="header-link">
            <fa-icon [icon]="faCartShopping"></fa-icon>
          </a>
          </div>
      </div>
    </div>
  </div>
</header>

<div>
  <router-outlet></router-outlet>
</div>

<div class="background-dark">

  <div class="container background-dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 background-dark">
      <p class="col-md-4 mb-0 text-white">© 2022 Dale, Inc</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="text-white">Made with ❤️ by Paolo D'Alessandro</li>
    </ul>
  </footer>
</div>
</div>
