.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8vh 0;
  background-color: #F3F7F9;
}

.product-card {
  width: 22% !important;
  max-width: 380px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin: 0 10px 8vh 10px;
}

.product-image {
  height: 280px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.card-resize {
  height: 280px;
  padding: 14px 20px;
  object-fit: contain;
}

.card-more-info {
  display: flex;
  margin-right: 0.8vh;
  justify-content: space-between;
  align-items: center;
}

.card-more-info p {
  margin: 0;
}

.card-more-info a {
  background-color: #0E6EFD;
  color: white;
  padding: 8px 18px;
  border-radius: 0.25rem;
  transition: .3s;
  text-decoration: none;
}

.card-more-info a:hover {
  background-color: #0b5ed7;
}

.card-product-reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 0;
}

.star-yellow {
  color: #F8A04D
}

.star-black {
  color: black;
}

.product-stock-status-green {
  color: green;
}

.product-stock-status-orange {
  color: orange;
}

.product-stock-status-red {
  color: red;
}
