.background-gray {
  background-color: #F3F7F9;
}

.flex-command {
  display: flex;
  padding-top: 50px;
  align-items: center;
}

.input-container {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.w-40 {
  width: 40%;
}

.w-20 {
  width: 26%;
  margin-left: auto;
  margin-right: 20%;
}

.select-dark_mode {
  background-color: #282A2D;
  color: rgba(255, 255, 255, 0.48);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.m-top {
  margin-top: 10px;
}

.features-flex {
  display: flex;
  width: 94%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.flex-33 {
  width: 33.33%;
  text-align: right;
}

.flex-33 a {
  color: white;
}

.input-container-dark_mode input {
  background-color: #282A2D;
  color: white;
}

.input-container input {
  width: 100%;
  border-radius: .375rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline-color:#0E6EFD;
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 6vh 0;
  background-color: #F3F7F9;
  min-height: 100vh;
}

.product-container-dark_mode {
  background-color: black;
}

.product-card {
  width: 22% !important;
  max-width: 380px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin: 0 10px 8vh 10px;
}

.product-card-dark_mode {
  background-color: #100F14;
}

.product-price-dark_mode {
  color: rgba(255, 255, 255, 0.48);
}

.product-price-dark_mode h5 {
  color: white;
}

.product-button-dark_mode a {
  color: rgba(255, 255, 255, 0.48);
}

.product-button-dark_mode a:hover {
  color: white;
}

.product-image {
  height: 280px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.card-resize {
  height: 280px;
  padding: 30px 24px 10px 24px;
  object-fit: contain;
}

.card-more-info {
  display: flex;
  margin-right: 0.8vh;
  justify-content: space-between;
  align-items: center;
}

.card-more-info p {
  margin: 0;
}

.card-more-info a {
  background-color: #0E6EFD;
  color: white;
  padding: 8px 18px;
  border-radius: 0.25rem;
  transition: .3s;
  text-decoration: none;
}

.card-more-info a:hover {
  background-color: #0b5ed7;
}

.card-product-reviews {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0 0 0;
}

.star-yellow {
  color: #F8A04D
}

.star-black {
  color: black;
}

.product-stock-status-green {
  color: green;
}

.product-stock-status-orange {
  color: orange;
}

.product-stock-status-red {
  color: red;
}

.temp {
  width: 20%;
  min-width: 340px;
  margin: 0 20px;
}

@media only screen and (max-width: 600px) {
  .input-mobile {
    width: 60%;
  }

  .input-container input {
    border: 1px solid rgba(27, 31, 35, 0.15);
  }

}
