<div class="background-gray" [ngClass]="getThemeMode() ? 'product-container-dark_mode' : ''">
      <div class="input-container input-mobile" [ngClass]="getThemeMode() ? 'input-container-dark_mode' : ''">
        <input type="text" [(ngModel)]="name" placeholder="Search a product">
    </div>

  </div>

<div class="product-container" [ngClass]="getThemeMode() ? 'product-container-dark_mode' : ''">
    <div *ngFor="let product of products! | productSearch:name | productOrderby:'stock':'csdres'" class="mb-5 temp">
      <div class="card" [ngClass]="getThemeMode() ? 'product-card-dark_mode' : ''">
        <a [routerLink]="product.slug">
          <img class="card-img-top card-resize" [src]="'/assets/images/' + product.photo" alt="...">
        </a>
          <div class="card-body p-4">
              <div class="text-center" [ngClass]="getThemeMode() ? 'product-price-dark_mode' : ''">
                  <h5 class="fw-bolder">{{ product.name }}</h5>
                  ${{ product.price }}
                <div class="card-product-reviews">
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 1 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 2 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 3 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 4 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 5 ? 'star-yellow' : 'star-black'"></fa-icon>
                </div>

              </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center" [ngClass]="getThemeMode() ? 'product-button-dark_mode' : ''"><a class="btn btn-outline-dark mt-auto" [routerLink]="product.slug">View details</a></div>
          </div>
      </div>
