<div class="background-gray flex-command" [ngClass]="getThemeMode() ? 'product-container-dark_mode' : ''">
  <div class="w-40">

  </div>
  <div class="input-container input-mobile" [ngClass]="getThemeMode() ? 'input-container-dark_mode' : ''">
        <input type="text" [(ngModel)]="name" placeholder="Search a product">
  </div>
  <div class="w-40">
    <select class="form-select w-20" [(ngModel)]="orderby" [ngClass]="getThemeMode() ? 'select-dark_mode' : ''" aria-label="Default select example">
      <option selected value="">Suggestions</option>
      <option value="priceHtL">Price: High to Low</option>
      <option value="priceLtH">Price: Low to High</option>
      <option value="reviewHtL">Review: High to Low</option>
      <option value="reviewLtH">Review: Low to High</option>
      <option value="category">Category</option>
    </select>

    <select class="form-select w-20 m-top" [(ngModel)]="category" [ngClass]="getThemeMode() ? 'select-dark_mode' : ''" aria-label="Default select example" *ngIf="orderby === 'category'">
      <option value="" default>all</option>
      <option [value]="cate" *ngFor="let cate of categories">{{cate}}</option>
    </select>
  </div>

  </div>

<div class="product-container" [ngClass]="getThemeMode() ? 'product-container-dark_mode' : ''">
    <div *ngFor="let product of products! | productSearch:name | productOrderby:orderby:category" class="mb-5 temp">
      <div class="card" [ngClass]="getThemeMode() ? 'product-card-dark_mode' : ''">
        <a [routerLink]="product.slug">
          <img class="card-img-top card-resize" [src]="'/assets/images/' + product.photo" alt="...">
        </a>
          <div class="card-body p-4">
              <div class="text-center" [ngClass]="getThemeMode() ? 'product-price-dark_mode' : ''">
                  <h5 class="fw-bolder">{{ product.name }}</h5>
                  ${{ product.price }}
                <div class="card-product-reviews">
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 1 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 2 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 3 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 4 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 5 ? 'star-yellow' : 'star-black'"></fa-icon>
                </div>

              </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center" [ngClass]="getThemeMode() ? 'product-button-dark_mode' : ''"><a class="btn btn-outline-dark mt-auto" [routerLink]="product.slug">View details</a></div>
          </div>
      </div>
