<div class="background-gray">
  <div class="input-container">
    <input type="text" (input)="searchProduct()" [(ngModel)]="name" placeholder="Search a product">
  </div>
</div>

<div class="product-container">

    <div *ngFor="let product of products" class="mb-5 temp">
      <div class="card h-100">
          <img class="card-img-top card-resize" [src]="'/assets/images/' + product.photo" alt="...">
          <div class="card-body p-4">
              <div class="text-center">
                  <h5 class="fw-bolder">{{ product.name }}</h5>
                  ${{ product.price }}
                <div class="card-product-reviews">
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 1 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 2 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 3 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 4 ? 'star-yellow' : 'star-black'"></fa-icon>
                  <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 5 ? 'star-yellow' : 'star-black'"></fa-icon>
                </div>

              </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="product.slug">View details</a></div>
          </div>
      </div>





