.background-gray {
  background-color: rgba(215, 230, 236, 0.3);
}

.background-white {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-justify {
  text-align: justify;
}

.product-image-resize {
  max-height: 500px;
  object-fit: contain;
}

.card-resize {
  height: 180px;
  padding: 14px 20px 0 20px;
  object-fit: contain;
}

.position-absolute {
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-background {
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}

.mb-0 fa-icon {
  color: rgb(0, 136, 20);
}

.mb-5 {
  min-width: 340px;
}
