.background-gray {
  background-color: rgba(215, 230, 236, 0.3);
}

.background-white {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-justify {
  text-align: justify;
}

.product-image-resize {
  max-height: 500px;
  object-fit: contain;
}

.card-resize {
  height: 180px;
  padding: 14px 20px 0 20px;
  object-fit: contain;
}
