.background-gray {
  background-color: rgba(215, 230, 236, 0.3);
}

.background-white {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.favorite-dark_mode fa-icon {
  color: white;
}

.related-product-fix_margin {
  margin-top: 1rem !important;
}

.related-product_title-fix_margin {
  margin-bottom: 4rem !important;
}

.container-dark_mode {
  background-color: #04030c;
}

.product-title-dark_mode {
  color: white;
}

.product-price-dark_mode {
  color: #abaab9;
}

.related-dark_mode {
  background-color: #0b0a17 !important;
}

.related-product-dark_mode {
  background-color: #110F15;
}

.related-title-dark_mode {
  color: white;
}

.related-product_info-dark_mode h5 {
  color: white;
}

.related-product_info-dark_mode {
  color: #abaab9;
}

.back-dark_mode {
  background-color: black;
}

.product-category-dark_mode {
  color: rgba(255, 255, 255, 0.48);
}

.product-description-dark_mode {
  color: rgba(255, 255, 255, 0.48);
}

.product-button-dark_mode {
  color: rgba(255, 255, 255, 0.48);
}

.product-button-dark_mode:hover {
  color: white;
}

.product-input-dark_mode {
  background-color: #282A2D;
  border: 1px solid #212529;
  color: white;
}

.product-favorite-dark_mode {
  color: rgba(255, 255, 255, 0.48);
}

.product-favorite-dark_mode:hover {
  color: white;
}

.product-stock-dark_mode {
  color: #abaab9;
}

.text-justify {
  text-align: justify;
}

.product-image-resize {
  max-height: 500px;
  object-fit: contain;
}

.card-resize {
  height: 180px;
  padding: 14px 20px 0 20px;
  object-fit: contain;
}

.position-absolute {
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-background {
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}

.mb-0 fa-icon {
  color: rgb(0, 136, 20);
}

.mb-5 {
  min-width: 315px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.favorites {
  outline: none;
  border: 1px solid #212529;
  border-radius: 0.375rem;
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin-left: 1rem;
  transition: .2s;
}

.favorites:hover {
  transition: .2s;
  background-color: #212529;
}

.favorites:hover fa-icon {
  transition: .2s;
  color: white;
}

@media only screen and (max-width: 600px) {
  .product-image-resize {
    width: 100% !important;
    max-width: 200px;
    min-width: 0 !important;
  }

  .img-center {
    text-align: center;
  }

  .mobile-text-left {
    text-align: left;
  }

  .background-white {
    width: 90%;
  }

}
