.background-gray {
  background-color: #F3F7F9;
}

.background-black {
  background-color: black !important;
}

.no-favorite-dark_mode h1 {
  color: white;
}

.input-container {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.input-container input {
  width: 100%;
  border-radius: .375rem;
  border: 0;
  outline-color:#0E6EFD;
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.input-dark_mode {
  background-color: #282A2D;
  color: white;
}

.product-card-dark_mode {
  background-color: #100F14;
}

.product-title-dark_mode h5 {
  color: white;
}

.product-details-dark_mode {
  color: rgba(255, 255, 255, 0.48);
}

.product-title-dark_mode {
  color: rgba(255, 255, 255, 0.48);
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 6vh 0;
  background-color: #F3F7F9;
  min-height: 100vh;
}

.product-card {
  width: 22% !important;
  max-width: 380px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin: 0 10px 8vh 10px;
}

.product-image {
  height: 280px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.card-resize {
  height: 280px;
  padding: 14px 20px;
  object-fit: contain;
}

.card-more-info {
  display: flex;
  margin-right: 0.8vh;
  justify-content: space-between;
  align-items: center;
}

.card-more-info p {
  margin: 0;
}

.card-more-info a {
  background-color: #0E6EFD;
  color: white;
  padding: 8px 18px;
  border-radius: 0.25rem;
  transition: .3s;
  text-decoration: none;
}

.card-more-info a:hover {
  background-color: #0b5ed7;
}

.card-product-reviews {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0 0 0;
}

.star-yellow {
  color: #F8A04D
}

.star-black {
  color: black;
}

.product-stock-status-green {
  color: green;
}

.product-stock-status-orange {
  color: orange;
}

.product-stock-status-red {
  color: red;
}

.temp {
  width: 20%;
  min-width: 340px;
  margin: 0 20px;
}

@media only screen and (max-width: 600px) {
  .input-mobile {
    width: 60%;
  }

  .input-container input {
    border: 1px solid rgba(27, 31, 35, 0.15);
  }

}


.background-gray {
  background-color: #F3F7F9;
  min-height: 92.4vh;
}

.cart-container {
  background-color:#F3F7F9;
  padding: 100px 0;
}

.cart-card {
  height: 200px;
  display: flex;
  align-items: center;
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 12px;
  justify-content: center;
  padding: 20px 0px;
  border: 1px solid rgba(49, 47, 47, 0.3);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.cart-card-info {
  width: 18%;
  text-align: center;
}

.cart-edit-stock {
  display: flex;
  justify-content: center;
}

.cart-edit-stock button {
  outline: none;
  border: 0;
  background-color: white;
  padding: 2px 10px;
  border-radius: 50%;
}

.cart-edit-stock button:hover {
  background-color: #F3F7F9;
}

.cart-edit-stock input {
  margin: 0 6px;
  width: 60px;
  text-align: center;
}

.cart-card-info p {
  margin: 0 !important;
}

.cart-product-image {
  text-align: center;
}

.cart-product-image img {
  height: 180px;
  object-fit: contain;
  max-width: 200px;
}

.cart-product-delete button {
  outline: none;
  border: 0;
  background-color: white;
  transition: .2s;
}

.cart-product-delete button:hover {
  color: #DC4B64;
}

.cart-payment {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.b-white {
  background-color: white;
}

.cart-empty-spacer {
  height: 20px;
}

.favorites {
  outline: none;
  border: 1px solid #212529;
  border-radius: 0.375rem;
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin-left: 1rem;
  transition: .2s;
}

.empty-favorites {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -38%);
  width: 100%;
}

.flex-card {
  display: flex;
  justify-content: center;
}

.favorites:hover {
  transition: .2s;
  background-color: #212529;
}

.favorites:hover fa-icon {
  transition: .2s;
  color: white;
}

.fix-position {
  min-height: 0 !important;
}


@media only screen and (max-width: 600px) {
  .cart-card {
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
  }
  .cart-card-info {
    width: auto;
  }
}
