<div class="product-container">
  <div *ngFor="let product of favoriteProducts" class="mb-5 temp">
    <div class="card">
      <a [routerLink]="'/products/' + product.slug">
        <img class="card-img-top card-resize" [src]="'/assets/images/' + product.photo" alt="...">
      </a>
        <div class="card-body p-4">
            <div class="text-center">
                <h5 class="fw-bolder">{{ product.name }}</h5>
                ${{ product.price }}
              <div class="card-product-reviews">
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 1 ? 'star-yellow' : 'star-black'"></fa-icon>
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 2 ? 'star-yellow' : 'star-black'"></fa-icon>
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 3 ? 'star-yellow' : 'star-black'"></fa-icon>
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 4 ? 'star-yellow' : 'star-black'"></fa-icon>
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 5 ? 'star-yellow' : 'star-black'"></fa-icon>
              </div>

            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="'/products/' + product.slug">View details</a></div>
        </div>
    </div>


    <div class="empty-cart" *ngIf="favoriteProducts.length == 0">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Cart is empty :(</h1>
        <div class="cart-empty-spacer"></div>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/products">Start shopping</button>
          </div>
        </div>
      </div>
    </div>
