<div class="empty-favorites" [ngClass]="getThemeMode() ? 'background-black no-favorite-dark_mode' : ''" *ngIf="favoriteProducts.length === 0">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">You don't even like a product :(</h1>
    <div class="cart-empty-spacer"></div>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/products">Start shopping</button>
      </div>
    </div>
  </div>
</div>

<div class="background-gray fix-position" [ngClass]="getThemeMode() ? 'background-black' : ''" *ngIf="favoriteProducts.length != 0">
  <div class="input-container input-mobile">
    <input type="text" [(ngModel)]="research" [ngClass]="getThemeMode() ? 'input-dark_mode' : ''" placeholder="Search a product">
  </div>
</div>


<div class="product-container" [ngClass]="getThemeMode() ? 'background-black' : ''">
  <div *ngFor="let product of favoriteProducts | favoriteSearch:research" class="mb-5 temp">
    <div class="card" [ngClass]="getThemeMode() ? 'product-card-dark_mode' : ''">
      <a [routerLink]="'/products/' + product.slug">
        <img class="card-img-top card-resize" [src]="'/assets/images/' + product.photo" alt="...">
      </a>
        <div class="card-body p-4">
            <div class="text-center" [ngClass]="getThemeMode() ? 'product-title-dark_mode' : ''">
                <h5 class="fw-bolder">{{ product.name }}</h5>
                ${{ product.price }}
              <div class="card-product-reviews">
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 1 ? 'star-yellow' : 'star-black'"></fa-icon>
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 2 ? 'star-yellow' : 'star-black'"></fa-icon>
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 3 ? 'star-yellow' : 'star-black'"></fa-icon>
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 4 ? 'star-yellow' : 'star-black'"></fa-icon>
                <fa-icon [icon]="faStar" [ngClass]="product.reviews >= 5 ? 'star-yellow' : 'star-black'"></fa-icon>
              </div>

            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent flex-card">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="'/products/' + product.slug" [ngClass]="getThemeMode() ? 'product-details-dark_mode' : ''">View details</a></div>
            <button class="favorites" (click)="removeFromFavorites(product)" [ngClass]="getThemeMode() ? 'product-details-dark_mode' : ''">
              <fa-icon [icon]="faFullHeart"></fa-icon>
            </button>
          </div>
    </div>

