.icon-p {
  padding: 12px 18px;
  border-radius: 2px;
}

.icon-container {
  border-radius: 12px;
}

.title-dark_mode {
  color: white;
}

.sub_title-dark_mode {
  color: #abaab9;
}

.payoff-border-dark_mode {
  border-bottom: 1px solid rgb(109, 109, 109) !important;
}

.features-remove-border {
  border: 0 !important;
  padding-left: 8px;
  padding-top: 6px;
  border-left: 8px solid #212529 !important;
}

.payoff-block-width {
  max-width: 870px;
}

.features-border_dark-mode {
  border-color: #191818 !important;
}

.payoff-img-dark_mode {
  border: 1px solid rgb(109, 109, 109) !important;
}

.text_white-dark_mode {
  color: white;
}

.features-dark_mode {
  background-color: #191818 !important;
}

.icons-dark_mode {
  color: white;
}

.description-dark_mode {
  color: rgba(255, 255, 255, 0.48);
}
